i {
    color: rgb(83, 189, 150);
}

body {
    background-color: white;
    /* background-image: url('../../../img/Bike.jpg'); */
}

.vheight {
    height: 100vh;
}

.btn {
    border-radius: 22px !important;
    color: white;
    background: rgb(83, 189, 150) !important;
}

.btn:hover {
    color: white;
    transform: scale(0.95);
}

.sheet {
    -webkit-box-shadow: 10px 0px 5px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 10px 0px 5px 0px rgba(189, 189, 189, 1);
    box-shadow: 10px 0px 5px 0px rgba(189, 189, 189, 1);
}

.btn-danger {
    background-color: #b32c2cde!important;
}

.btn-dark {
    background-color: #848484!important;
    margin-top: 3em !important;
}

.social {
    height: 50px;
    width: 50px;
}

footer {
    background: rgb(83, 189, 150);
}

/* on tablets */
@media screen and (min-width: 601px) and (max-width: 992px) {
    .col-lg-8{
        border: 1px gray solid;
    }
    .vheight {
        height: auto;
        margin-bottom: 2em;
    }
  }
  
/* On mobile phone */
@media screen and (max-width: 600px) {
    .col-lg-4{
        border: 1px gray solid;
    } 

    .vheight {
    height: auto;
    margin-bottom: 2em;
    }
}